* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Poppins", serif; */
  font-family: "Lilita One", serif;
  color: white;
  width: 100%;
}

.nav {
  background-color: rgba(234, 202, 142, 0.882);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 15px;
}

.nav button {
  padding: 5px 20px;
}

button {
  background-color: #ffffff;
  color: #d28b06;
  font-weight: 500;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  cursor: pointer;
  font-size: 15px;
  text-transform: capitalize;
}

.home {
  background-color: rgb(252, 229, 200);
  padding: 20px 30px;
  width: 100%;
  margin-bottom: 20px;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lilita One", serif;
  gap: 10px;
  margin-bottom: 10px;
}

.topic {
  width: 60%;
}
.image {
  width: 40%;
}

.smoothie-image {
  max-width: 100%;
}
.home-page h1 {
  line-height: 40px;
  font-size: 30px;
  font-style: italic;
}
.home-page h1 span {
  background-color: pink;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

.home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home button {
  padding: 8px 20px;
}

.menus {
  background-color: rgb(120, 107, 92);
  padding: 40px;
}
.menus h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
}

.menu img {
  width: 100%;
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 30px;
}

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-button button {
  padding: 8px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.menu-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu-name h2 {
  font-size: 20px;
}
.menu-pricing {
  padding: 10px;
  line-height: 27px;
}
